
@{
    ViewBag.Title = "Panel admina";
}

<h1>Panel admina work in progres</h1>

<form class="container">

    <div class="btn-default well-sm col-lg-11">
        @Html.ActionLink("Lista uzytkownikow", "RoleList", "AdminPanel")
    </div>

    <div class="btn-default well-sm col-lg-11">
        @Html.ActionLink("Lista publikacji", "PublicationList", "AdminPanel")
    </div>

</form>