@using recenzent.Resources
@{
    ViewBag.Title = "Panel Autora";
}

<h2>@AuthorPanel.Name</h2>
<form class="container">

    <div class="btn-default well-sm col-lg-11">
        @Html.ActionLink(AuthorPanel.AddPublication, "AddPub", "AuthorPanel")
    </div>

    <div class="btn-default well-sm col-lg-11">
        @Html.ActionLink(AuthorPanel.PublicationList, "PublicationList", "AuthorPanel")
    </div>

    <div class="btn-default well-sm col-lg-11">
        @Html.ActionLink(AuthorPanel.PublicationInReviewList, "PublicationInReviewList", "AuthorPanel")
    </div>
</form>