@model IEnumerable<recenzent.Data.Model.Publication>

@{
    ViewBag.Title = recenzent.Resources.AuthorPanel.PublicationInReviewList;
}

<h2>@recenzent.Resources.AuthorPanel.PublicationInReviewList</h2>

<div class="list-group pre-scrollable">
    @foreach (var item in Model) {
        <div class="list-group-item">
           @Html.ActionLink(item.Title, "PublicationReview", "AuthorPanel", new { id = item.PublicationId }, null)
           
        </div>
    }
</div>