@model IEnumerable<recenzent.Data.Model.Publication>

@{
    ViewBag.Title = "PublicationList";
}

<h2>Lista Publikacji</h2>

<ul class="pre-scrollable">
    @foreach(var item in Model) {
        <li>@item.Title</li>
    }
</ul>