@model IEnumerable<recenzent.Data.Model.Publication>

@{
    ViewBag.Title = "PublicationList";
}

<h2>Lista Publikacji</h2>


<div class="list-group pre-scrollable">
    @foreach (var item in Model) {
        <div class="list-group-item">
            <h4 class="list-group-item-heading">@Html.ActionLink(item.Title, "Index", "AuthorPanel")</h4>
            <p class="list-group-item-text">Data dodania: @item.ShareDate.ToShortDateString()</p>
        </div>
    }
</div>