@model IEnumerable<recenzent.Data.Model.Publication>

@{
    ViewBag.Title = "Lista publikacji w recenzji";
}

<h2>Lista publikacji w recenzji</h2>

<div class="list-group pre-scrollable">
    @foreach (var item in Model) {
        <div class="list-group-item">
           @Html.ActionLink(item.Title, "PublicationReview", "AuthorPanel", new { id = item.PublicationId }, null)
           
        </div>
    }
</div>