
<div class="form-group" action="/CommentController/SendComment" method="post">
    <label for="comment">Comment:</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
    <input type="submit" value="Wyślij" />
</div> 