
@{
    ViewBag.Title = "Panel recenzenta";
}

<h2>Panel Recenzenta</h2>

<div class="list-group pre-scrollable">
    @for (int i = 0; i < 20; i++)
    {
        <div class="list-group-item">
            <p class="list-group-item-text">Artykuł do zrecenzowania nr @(i + 1)
                <input type="button" value="Pobierz" id="download@(i+1)"
                       onclick="location.href='@Url.Action("DownloadPub", "ReviewerController")'" />
                <input type="button" value="Wyslij recenzje" id="sendRev@(i+1)"
                       onclick="location.href='@Url.Action("UploadRev", "ReviewerController")'" />
            </p>
        </div>
    }
</div>