@model IEnumerable<recenzent.Data.Model.Publication>

@{
    ViewBag.Title = "Panel recenzenta";
}

<h2>Panel Recenzenta</h2>

<div>
    <input type="button" value="Przejdź do panelu autora" style="border-spacing:100px 100px; float:right; right:5%"
           onclick="location.href='@Url.Action("Index", "AuthorPanel")'" />
</div>

<div class="btn-default well-sm col-lg-11">
    @Html.ActionLink("Lista publikacji do zrecenzowania", "PublicationsToReview", "Reviewer")
</div>

@*<div class="list-group pre-scrollable" style="width:75%; min-height:750px" >    
    @foreach (var item in Model)
    {
        <div class="list-group-item">
            <h4 class="list-group-item-heading">@Html.ActionLink(item.Title, "PublicationReview", "ReviewerController", new { id = item.PublicationId }, null)</h4>
        </div>
    }
</div>*@