
@{
    ViewBag.Title = "Panel recenzenta";
}

<h2>Panel Recenzenta</h2>


<div class="list-group pre-scrollable">
    @for (int i = 0; i < 20; i++)
    {
        <div class="list-group-item">
            <p class="list-group-item-text">Artykuł do zrecenzowania nr @(i + 1)</p>
        </div>
    }
</div>