@model recenzent.Data.Model.Publication
@{
    ViewBag.Title = "Recenzja: " + Model.Title;
}

<h2>Recenzje publikacji</h2>

<div class="container">
    <button type="button" class="btn" id="btn1" onclick="location.href='@Url.Action("Index", "Reviewer" )'">Powrót</button>
    <h3>@Model.Title</h3>

    <div class="panel panel-default">
        <div class="panel-heading">Opis</div>
        <div class="panel-body">@Model.Description</div>
    </div>
</div>