@model recenzent.Data.Model.Publication
@{
    ViewBag.Title = "Recenzja: " + Model.Title;
}

<h2>Recenzje publikacji</h2>

<div class="container">
    <input type="button" value="Powrót" style="border-spacing:100px 100px; float:right; right:5%"
           onclick="location.href='@Url.Action("PublicationsToReview", "Reviewer" )'" />
    <h3>@Model.Title</h3>

    <div class="panel panel-default">
        <div class="panel-heading">Opis</div>
        <div class="panel-body">@Model.Description</div>
    </div>
</div>