@model IEnumerable<recenzent.Data.Model.Publication>

@{
    ViewBag.Title = "Zrecenzowane publikacje czekające na zatwierdzenie";
}

<h2>Zrecenzowane publikacje czekające na zatwierdzenie</h2>

<div class="container">
    

    <div class="list-group pre-scrollable">
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <h4 class="list-group-item-heading">@Html.ActionLink(item.Title, "PublicationDetails", "Reviewer", new { id = item.PublicationId}, null)</h4>
            </div>
        }
    </div>
    <button type="button" class="btn" id="btn1" onclick="location.href='@Url.Action("Index", "Reviewer" )'">Powrót</button>
</div>