@{
    ViewBag.Title = "Home Page";
}

<div class="btn btn-block">
   @Html.ActionLink("Author page", "Index", "AuthorPanel")
</div>
<div class="btn btn-block">
    @Html.ActionLink("Admin page", "Index", "AdminPanel")
</div>



@section RightUpperSection{
    <p>Treść Sekcji w indeksie</p>
    }