body {
    padding-top: 50px;
    padding-bottom: 20px;
    color:#232262
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: none;
}

.btn{
    color:#ffffff;
    background-color:#00A69C;
    border-width: 3px;
    border-color: #ffffff;
}

h1, h2, .h1, .h2, .jumbotron{
    margin-left: auto;
    margin-right: auto;
    border-radius:0px;
    background-color:#00A69C;
    color:#ffffff;
}

.col-md-10, .col-md-9, .col-md-3, navbar, .navbar{
    padding:0px;
}
h1, h2, .h1, .h2{
       font-weight:bold;
       padding:10px;
       text-align: center;
}

.upper-row {
   height: 300px;
   padding: 0px;
   margin: 0px;
}

.lower-row {
   height: 600px;
   padding: 0px;
}

.navbar-inverse {
    border-color: #ffffff;
    background-color: #00A69C;
    position: relative;
}

.nav-panel {
    position: absolute;
       min-width:940px;
}

.banner{
    min-width:900px;
}
